@model Customer

<form asp-action="Edit" id="EditForm" asp-route-id="@Model.UserId">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BlackCount" class="control-label"></label>
        <input asp-for="BlackCount" class="form-control" />
        <span asp-validation-for="BlackCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsBlack" class="control-label"></label>
        <select asp-for="IsBlack" class="form-control" asp-items="ViewBag.IsBlack"></select>
        <span asp-validation-for="IsBlack" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" value="Save" class="btn btn-primary">儲存修改</button>
    </div>
</form>
