@model ParkingLot
<form asp-action="Edit" id="EditForm" class="col-md-12" asp-route-id="@Model.LotId">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="LotId" />
    <div class="form-group">
        <label asp-for="LotName" class="control-label"></label>
        <input asp-for="LotName" class="form-control" />

        <span asp-validation-for="LotName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LotAddress" class="control-label"></label>
        <input asp-for="LotAddress" class="form-control" />
        <span asp-validation-for="LotAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Longitude" class="control-label"></label>
        <input asp-for="Longitude" class="form-control" />
        <span asp-validation-for="Longitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Latitude" class="control-label"></label>
        <input asp-for="Latitude" class="form-control" />
        <span asp-validation-for="Latitude" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Qty" class="control-label"></label>
        <input asp-for="Qty" class="form-control" />
        <span asp-validation-for="Qty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Etcqty" class="control-label"></label>
        <input asp-for="Etcqty" class="form-control" />
        <span asp-validation-for="Etcqty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Monqty" class="control-label"></label>
        <input asp-for="Monqty" class="form-control" />
        <span asp-validation-for="Monqty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsResStatus" class="control-label"></label>
        <select asp-for="IsResStatus" class="form-control" asp-items="ViewBag.IsRes"></select>
        <span asp-validation-for="IsResStatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsMonStatus" class="control-label"></label>
        <select asp-for="IsMonStatus" class="form-control" asp-items="ViewBag.IsMon"></select>
        <span asp-validation-for="IsMonStatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contract" class="control-label"></label>

        <span class="text-danger">必填</span>
        <input type="file" id="ContractFile" name="ContractFile" class="form-cintrol" />

        @*顯示現有檔案*@
        @if (!string.IsNullOrEmpty(Model.Contract))
        {
            <!-- 顯示現有檔案，可以是檔案名稱或者連結 -->
            <p>@Model.Contract</p>
            <a href="@Url.Content("~/Contract/" + Model.Contract)" target="_blank"></a>
        }
        @*  <input asp-for="Contract" class="form-control" type="file" accept="image/*" /> *@
        <span asp-validation-for="Contract" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
